rtdb-data {
    overflow: scroll;
    height: 170vh!important;
}

/*Realtime database*/
rtdb-preview {
    max-width:100%!important;
    min-height:1200px!important;
    box-shadow:0px 0px 5px 1px rgb(77, 43, 12);
    position: relative;
}


/*Firestore*/
.viewer-container, .firebase-database{
    max-width:100%!important;
    min-height:1700px!important;
    height:170vh!important;
}

f7e-data-panel-viewer {
    max-width:100%!important;
    min-height:1500px!important;
}

mat-card {
    width: 120%;
    height: 1200px;
    box-shadow:0px 0px 5px 1px rgb(78, 41, 7);
    height:170vh!important;
}